<!DOCTYPE html>
<html>
<head>
  <title>Higan</title>
  <%= stylesheet_link_tag    "higan/application", media: "all" %>
  <%= javascript_include_tag "higan/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
